.contenedorExpandida {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	min-height: 100vh;
	min-width: 100vw;
	background-color: rgba(0, 0, 0, 0.685);
	animation-duration: .7s;
	animation-name: expansion;
}

@keyframes expansion {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}