@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.container{
    background:#afb0b4;
    width:100vmax;
    height: 15%;
    position:absolute;

}

.chighlight {
    font-family: 'Finger Paint', cursive;
    color:white;
    padding: 10px;
    font-size: 1.55rem;
  }


  @media only screen and (max-width:500px) {
       .container{
        width:100vh;
        height: 15%;
       }
  }