@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

.container{
    background:#afb0b4;
    width:100%;
    height: 15%;
    position:absolute;

}

.chighlight {
    font-family: 'Finger Paint', cursive;
    color:white;
    padding: 10px;
    font-size: 1.55rem;
  }
