.ContainerGallery{
    margin-block-start: 40%;
    max-width: 100%;
}

.cardContainer{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row dense;
}
 .cardList {
    position: relative;
    display: flex;
    grid-column-start: auto;
    grid-row-start: auto;  
    cursor: pointer;
 }
 
.img{
   position: relative;
    width: 100%;
    height: 500px;
     object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }  

  .studyOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index:10;
    &:after {
      content:'';
      width: 100%;
      border-radius:10px;
      height: 100%;
      background-color: #202020;
      opacity:0;
      position: absolute;
      top:0;
      z-index:-10;
      left:0;
      transition:all .3s ease;
    }
  }
    

  .studyTitle {
    display: none;
    margin-bottom:2rem;
    margin-top:10rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color:white;
    text-align: center;
    letter-spacing:5px;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
  }
  
  .studyLink {
    display: none;
    width:60%;
    padding:10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color:white;
    letter-spacing:3px;
    text-decoration: none;
    text-align: center;
    border:2px solid white;
    border-radius:3px;
    font-size: 1.25em;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
    &:hover {
      background-color: white;
      color:#202020;
    }
  }

 .cardList:hover{
  .studyTitle{
    top:0;
    display: block;
  }
  .studyLink{
    top:0;
    display: block;
  }
  
  .studyOverlay:after{
    opacity:.75;
  } 
}